<ion-navbar *navbar pink>
  <ion-title light>Device</ion-title>
</ion-navbar>

<ion-content>
  <div class="device-header">
    <img src="http://yeoman.io/static/yeoman-005.caffeeaba0.png">
  </div>
  <div padding class="device-info">
    <h4>{{info}}</h4>
  </div>
  <ion-list>
    <ion-item>
     <span class="row">
       <span class="col">
         Platform:
       </span>
       <span class="col item-right">
         {{deviceInfo?.platform}}
       </span>
     </span>
    </ion-item>
    <ion-item>
     <span class="row">
       <span class="col">
         Tablet:
       </span>
       <span class="col item-right">
         {{deviceInfo?.isTablet ? 'yes' : 'no'}}
       </span>
     </span>
    </ion-item>
  </ion-list>
</ion-content>
